.about-main {
    &__title {
        font-size: 32px;
        line-height: 38px;
        color: $red;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 18px;
        line-height: 26px;
        color: $black;
        margin-bottom: 20px;
    }

    &__info {
        padding-top: 10px;
        padding-bottom: 14px;
        border-top: 4px solid $gray-medium;
    }

    &__item {
        margin-bottom: 20px;
    }

    &__item-value {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        color: $red;
        display: flex;

        &::before {
            content: "";
            display: block;
            width: 32px;
            height: 32px;
            padding-top: 9px;
            margin-right: 6px;
            background-repeat: no-repeat;
            background-position: center;
        }

        &--flag::before {
            background-image: url(../img/about-flag.svg);
        }

        &--case::before {
            background-image: url(../img/about-case.svg);
        }

        &--star::before {
            background-image: url(../img/about-star.svg);
        }
    }

    &__item-text {
        font-size: 18px;
        line-height: 21px;
        color: $purple;
    }
}

@media (min-width: 768px) {
    .about-main {
        &__box {
            display: flex;
            margin: 0 -20px;
        }

        &__description-inner,
        &__info-inner {
            padding: 0 20px;
        }

        &__description-inner {
            width: 61%;
        }

        &__info-inner {
            width: 39%;
        }

        &__info {
            padding-left: 20px;
            border-top: none;
            position: relative;

            &::before {
                content: "";
                display: inline-flex;
                width: 4px;
                height: 240px;
                top: 18px;
                left: 0;
                background-color: $gray-medium;
                position: absolute;
            }
        }
    }
}

@media (min-width: 992px) {
    .about-main {
        &__box {
            max-width: 1095px;
        }

        &__title {
            font-size: 42px;
            line-height: 50px;
        }

        &__text {
            font-size: 21px;
            line-height: 30px;
        }

        &__info::before {
            height: 285px;
        }

        &__item {
            margin-bottom: 40px;
        }
    }
}