.background {
    background: $gradient-soft;
    background-repeat: no-repeat;
    background-color: $purple;
    position: relative;

    &--middle {
        background: $gradient-supersoft;
        border-radius: 0px 0px 12px 12px;
    }

    &--service {
        background: $gradient-supersoft;
        background-image: url(../img/service-bg-mobile.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }

    &--shadow {
        &::after,
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: calc(100% - 80px);
            height: 20px;
            bottom: -20px;
            left: 40px;
            border-radius: 0 0 12px 12px;
        }

        &::before {
            background-color: $gradient-shadow-light;
        }

        &::after {
            width: calc(100% - 40px);
            height: 10px;
            bottom: -10px;
            left: 20px;
            background-color: $gradient-shadow-middle;
        }
    }

    &--services-general {
        background: $gradient-supersoft;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 0px 0px 12px 12px;
    }

    &__index {
        padding-top: 20px;
        padding-bottom: 104px;
    }

    &__service {
        padding-top: 20px;
        padding-bottom: 25px;
    }

    &__modal {
        padding-top: 15px;
        padding-bottom: 85px;
    }
}

@media (min-resolution: 144dpi) and (min-resolution: 1.5dppx) {
    .background {
        &--service {
            background-image: url(../img/service-bg-mobile@2x.jpg);
        }
    }
}

@media (min-width: 480px) {
    .background {
        &--service {
            background-image: url(../img/service-bg.jpg);
        }
    }

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        .background {
            &--service {
                background-image: url(../img/service-bg@2x.jpg);
            }
        }
    }
}

@media (min-width: 992px) {
    .background {
        &__index {
            padding-top: 50px;
            padding-bottom: 60px;
        }

        &__service {
            padding-top: 51px;
            padding-bottom: 44px;
        }

        &--services-general {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        &__modal {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}
