.background {
    background: $gradient-soft;
    background-repeat: no-repeat;
    background-color: $purple;
    position: relative;

    &--middle {
        background: $gradient-supersoft;
        border-radius: 0px 0px 12px 12px;
    }

    &--service {
        background-color: $gradient-supersoft;
        background-image: url(../img/service-bg-mobile.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        border-radius: 0px 0px 12px 12px;
    }

    &::after,
    &::before {
        content: "";
        display: block;
        position: absolute;
        width: calc(100% - 80px);
        height: 20px;
        bottom: -20px;
        left: 40px;
        border-radius: 0 0 12px 12px;
    }

    &::before {
        background-color: $gradient-shadow-light;
    }

    &::after {
        width: calc(100% - 40px);
        height: 10px;
        bottom: -10px;
        left: 20px;
        background-color: $gradient-shadow-middle;
    }

    &__index {
        padding-top: 27px;
        padding-bottom: 100px;
    }

    &__service {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (min-width: 992px) {
    .background {

        &__index {
            padding-top: 50px;
            padding-bottom: 60px;
        }

        &__service {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}