.background-light {
    background-color: $white;

    &__about {
        padding-top: 20px;
        padding-bottom: 25px;
    }

    &__about-team {
        padding-top: 20px;
        padding-bottom: 40px;
    }
}

@media (min-width: 992px) {
    .background-light {
        &__about {
            padding-top: 50px;
            padding-bottom: 75px;
        }
    
        &__about-main {
            max-width: 1135px;
            margin: auto;
            padding-bottom: 80px;
        }

        &__team-member {
            max-width: 1135px;
            margin: auto;
            padding-bottom: 5px;
            padding-bottom: 80px;
        }
    }
}