.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    background-image: url(../img/header-symbol-p.svg);
    background-repeat: no-repeat;
    background-position: top;

    &__title {
        font-weight: 500;
        font-size: 38px;
        line-height: 45px;
        color: $white;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 200px;
    }

    &__btn {
        width: 42px;
        height: 42px;
        background-image: url(../img/main-arrow.svg);
        background-position: center;
        background-repeat: no-repeat;
        border: 1px solid $arrow-border;
        border-radius: 50%;
    }
}

@media (min-width: 500px) {
    .header-content {
        &__title {
            max-width: 445px;
        }
    }
}

@media (min-width: 768px) {
    .header-content {
        &__btn {
            animation-name: content;
            animation-duration: 2s;
            animation-delay: 2s;
            animation-iteration-count: 3;
            animation-timing-function: linear;
            
            @keyframes content {
                from {
                    transform: translate(0, -250px);
                    background-color: $red;
                }
    
                to {
                    transform: translate(0, -10px);
                    background-color: transparent;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .header-content {
        background: url(../img/header-symbol-p.svg) bottom,
                    url(../img/header-symbol-bg.svg) top;
        background-repeat: no-repeat;

        &__title {
            padding-top: 180px;
            padding-bottom: 290px;
        }
    }
}