.header-content-services {
    &__item-icon {
        width: 92px;
        height: 92px;
    }

    &__icon {
        width: 64px;
        height: 64px;
        // background-image: url(../img/service-item-icon-bag.svg);
    }
}