.header {
    background-color: $purple;

    &__container {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__lang-box,
    &__contact {
        display: flex;
        order: -1;
        width: 50%;
    }
    
    &__lang-box {
        justify-content: flex-start;
    }

    &__lang {
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        color: $gray-text;
        background-color: transparent;
        padding: 5px 6px;

        &:hover {
            color: $white;
            background-color: $gray-bg-alt;
            border-radius: 8px;
            opacity: 0.5;
        }

        &:active {
            color: $white;
            background-color: $red;
            border-radius: 8px;
            opacity: 1;
        }
    }
    
    &__contact {
        justify-content: flex-end;
        align-items: flex-end;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: $gray-text;
    }

    &__contact-address,
    &__contact-fb {
        display: none;
    }

    &__menu-link {
        display: none;
    }

    &__menu-btn {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        background-color: none;
        background-image: url(../img/header-menu-hamburger.svg);
    }
}

