.indicator {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    
    &:hover .indicator__arrow {
        stroke: $red;
    }

    &__arrow {
        margin-left: 5px;
        margin-top: 4px;
        stroke: $blue-link;
    }
}