.indicator {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    
    &:hover {
        color: $blue-link;
    }

    &__arrow {
        margin-left: 5px;
        margin-top: 3px;
        stroke: $blue-link;
    }
}

@media (min-width: 768px) {
    .indicator {
        &:hover {
            color: $red;
        }

        &:hover .indicator__arrow {
            stroke: $red;
            transition-duration: 0.3s;
        }
    }
}