.logo-box {
    display: flex;

    &__img {
        width: 78px;
        height: 31px;
    }

    &__bread-crumbs {
        font-size: 19px;
        line-height: 22px;
        color: $white;

        &--light {
            color: $purple;
        }

        &::before,
        &::after {
            content: "";
            display: inline-flex;
            height: 24px;
            background-repeat: no-repeat;
            background-position: center;
            padding-left: 2px;
        }

        &::before {
            width: 11px;
            background-image: url(../img/header-menu-slash-mob.svg);
        }

        &::after {
            width: 22px;
            background-image: url(../img/header-menu-symbol-mob.svg);
        }
    }

    &__bread-crumbs-index {
        display: none;
    }

}

@media (min-width: 768px) {
    .logo-box {
        &__logo {
            &:hover {
                opacity: 0.5;
            }
        }

        &__img {
            width: 155px;
            height: 62px;
        }

        &__bread-crumbs {
            font-size: 38px;
            line-height: 45px;

            &::before {
                width: 22px;
                height: 47px;
                background-image: url(../img/header-menu-slash.svg);
                padding-left: 2px;
            }

            &::after {
                width: 42px;
                height: 47px;
                background-image: url(../img/header-menu-symbol.svg);
            }
        }
    }
}





