.main {
    &__about {
        margin-bottom: 43px;
    }

    &__background {
        margin-bottom: 40px;
    }

    &__command {
        margin-bottom: 30px;
    }

    &__case {
        margin-bottom: 86px;
    }

    &__blog {
        padding-top: 20px;
        padding-bottom: 43px;
    }
}

@media (min-width: 992px) {
    .main {
        &__about {
            margin-bottom: 80px;
        }

        &__background {
            margin-bottom: 70px;
        }

        &__command {
            margin-bottom: 95px;
        }

        &__case {
            margin-bottom: 97px;
        }

        &__blog {
            padding-top: 40px;
            padding-bottom: 55px;
        }
    }
}