.main {
    &__about {
        margin-bottom: 43px;
    }

    &__background {
        margin-bottom: 40px;
    }

    &__command {
        margin-bottom: 28px;
    }

    &__case {
        margin-bottom: 85px;
        
        &--services-general {
            margin-top: 40px;
        }
    }

    &__blog {
        padding-top: 20px;
        padding-bottom: 41px;
    }

    &__service-list {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &__service-case {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (min-width: 992px) {
    .main {
        &__about {
            margin-bottom: 80px;
        }

        &__background {
            margin-bottom: 70px;
        }

        &__command {
            margin-bottom: 95px;
        }

        &__case {
            margin-bottom: 97px;

            &--services-general {
                margin-top: 60px;
            }
        }

        &__blog {
            padding-top: 40px;
            padding-bottom: 55px;
        }

        &__service-list {
            padding-bottom: 65px;
        }

        &__service-case {
            padding-top: 61px;
            padding-bottom: 43px;
        }
    }
}