.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: $gray-bg;

    &__main-title {
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.2px;
        color: $red;
        margin-bottom: 20px;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $gray-text;
        margin-bottom: 20px;
        margin-left: 10px;
    }

    &__list {
        list-style-type: none;
        padding-left: 0;
    }

    &__list-item {
        margin-bottom: 20px;

        &--mobile {
            margin-bottom: 7px;
        }
    }

    &__input {
        width: 100%;
        padding: 17px 10px 12px;
        background: $white;
        border: 2px solid transparent;
        border-radius: 8px;
        outline: none;

        &::placeholder {
            font-size: 18px;
            line-height: 26px;
            color: $gray-text;
        }

        &:focus {
            border-color: $black;
        }

        // &--invalid {
        //     border-color: $red;
        // }

        // пробовала делать через :invalid, но тогда выделяет все незаполенные поля формы

        &--textarea {
            font-family: "tt_normsmedium", "Arial", sans-serif;
            font-size: 18px;
            line-height: 26px;
            color: $black;
            height: 177px;
            padding-top: 9px;
        }
    }

    &__btn {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: $white;
        background-color: $blue-link;
        border-radius: 12px; 
        box-shadow: 0px 0px 20px $blue-btn-shadow;
        display: flex;
        margin: 20px auto 0;
        padding: 17px 68px 16px;

        &:hover {
            background-color: $blue-link-hover;
            animation-play-state: paused;
            transition-duration: 0.3s;
        }

        &:active {
            background-color: $blue-link-active;
            box-shadow: none;
        }
        
        // &--sending {
        //     color: transparent;
        //     background-color: transparent;
        //     background-image: url(../img/service-modal-spinner.svg);
        //     background-repeat: no-repeat;
        //     background-position: center;
        //     box-shadow: none;
        //     animation-name: spinner;
        //     animation-duration: 0.5s;
        //     animation-iteration-count: infinite;
        //     animation-timing-function: linear;

        //     @keyframes spinner {
        //         100% {
        //             transform: rotate(360deg);
        //         }
        //     }
        // }

        // &--sent {
        //     color: $purple;
        //     background: $gray-bg-alt;
        //     border-radius: 12px;
        //     box-shadow: none;
        // }
    }

    &__close-btn {
        position: absolute;
        top: 12px;
        right: 12px;
        width: 32px;
        height: 32px;
        background-image: url(../img/close-btn.svg);
    }
} 

@media (min-width: 527px) {
    .modal {
        width: 527px;
        top: 50px;
        left: 50%;
        transform: translate(-50%, 0);
        filter: drop-shadow(0px 15px 80px $purple-shadow);
        border-radius: 12px;
        
        &__main-title {
            font-size: 32px;
            line-height: 38px;
            letter-spacing: 0.6px;
        }

        &__title {
            margin-bottom: 7px;
        }

        &__close-btn {
            top: 15px;
            right: 15px;
        }

        &__list-item {
            &--mobile {
                margin-bottom: 20px;
            }
        }
    } 
}

@media (min-width: 768px) {
    .modal {
        top: 100px;

        &__btn {
            animation-name: send;
            animation-duration: 2s;
            animation-delay: 2s;
            animation-iteration-count: 3;
            animation-timing-function: ease-out;
    
            @keyframes send {
                100% {
                    background-color: $red;
                }
            }
        }
    } 
}

@media (min-width: 992px) {
    .modal {
        top: 150px;
    } 
}

@media (min-width: 1201px) {
    .modal {
        top: 197px;
    } 
}
