.services {
    &__box {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 20px;
    }

    &__title {
        font-size: 32px;
        line-height: 38px;
        color: $red;
        padding-bottom: 20px;
    }

    &__item-box:not(:last-child) {
        margin-bottom: 40px;
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__item-info {
        display: flex;
        margin-bottom: 10px;
    }

    &__item-icon {
        width: 64px;
        height: 64px;
        background-color: $white;
        border-radius: 18px;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        width: 44px;
        height: 44px;
    }

    &__item-title {
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.2px;
        text-align: left;
        align-self: center;
        padding-left: 10px;

        &:hover {
            color: $blue-link;
        }
    }

    &__item-text {
        font-size: 16px;
        line-height: 22px;
        color: $white;
    }
}

@media (min-width: 768px) {
    .services {
        &__title {
            padding-bottom: 0;
        }

        &__box {
            margin: 0 -20px;
        }

        &__item-box {
            width: 50%;
            padding: 0 20px;
            margin-top: 40px;

            &:not(:last-child) {
                margin-bottom: 0;
            }
        }

        &__item {
            flex-direction: column;
            align-items: flex-start;        
        }

        &__item-title {
            max-width: 280px;
 
            &:hover {
                color: $red;
            }
        }

        &__item-text {
            max-width: 325px;
        }
    }
}

@media (min-width: 901px) {
    .services {
        &__item-title {
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            max-width: 400px;
        }

        &__item-text {
            font-size: 18px;
            line-height: 26px;
            max-width: 413px;
        }
    }
}

@media (min-width: 992px) {
    .services {
        &__title {
            margin: 7px 0 12px;
            font-size: 43px;
        }

        &__box {
            padding-bottom: 10px;
        }

        &__item-box {
            width: 33.333%;
            margin-top: 60px;
        }

        &__item-info {
            flex-direction: column;
            margin-bottom: 15px;
        }

        &__item-icon {
            width: 92px;
            height: 92px;
            margin-bottom: 20px;
        }

        &__icon {
            width: 64px;
            height: 64px;
        }

        &__item-title {
            padding-left: 0;
        }
    }
}