.service-list {
    &__title {
        font-size: 18px;
        line-height: 21px;
        color: $white;
        padding-bottom: 10px;
    }

    &__list {
        padding-left: 24px;
    }

    &__list-style {
        color: $red;
        padding-bottom: 13px;
    }

    &__item {
        font-size: 18px;
        line-height: 26px;
        color: $white;
    }
}

@media (min-width: 992px) {
    .service-list {
        max-width: 1132px;

        &__title {
            font-size: 24px;
            line-height: 28px;
            padding-bottom: 20px;
        }
        
        &__list {
            column-count: 2;
            column-gap: 68px;
        }

        &__list-style {
            padding-bottom: 15px;
        }

        &__item {
            max-width: 480px;
            letter-spacing: 0;
        }
    }
}