.services {
    &__box {
        display: flex;
        flex-wrap: wrap;
    }

    &__title {
        font-size: 32px;
        line-height: 38px;
        color: $red;
        padding-bottom: 20px;
    }

    &__item-box:not(:last-child) {
        margin-bottom: 40px;
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__item-info {
        display: flex;
        margin-bottom: 10px;
    }

    &__item-icon {
        width: 64px;
        height: 64px;
        background-color: $white;
        border-radius: 18px;
        padding: 10px;
    }

    &__item-icon-bag,
    &__item-icon-case,
    &__item-icon-corporate,
    &__item-icon-contract,
    &__item-icon-security,
    &__item-icon-trial {
        width: 44px;
        height: 44px;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__item-icon-bag {
        background-image: url(../img/service-item-icon-bag.svg);
    }

    &__item-icon-case {
        background-image: url(../img/service-item-icon-case.svg);
    }

    &__item-icon-corporate {
        background-image: url(../img/service-item-icon-corporate.svg);
    }

    &__item-icon-contract {
        background-image: url(../img/service-item-icon-contract.svg);
    }

    &__item-icon-security {
        background-image: url(../img/service-item-icon-security.svg);
    }

    &__item-icon-trial {
        background-image: url(../img/service-item-icon-trial.svg);
    }

    &__item-title {
        font-size: 18px;
        line-height: 21px;
        text-align: left;
        align-self: center;
        padding-left: 10px;
    }

    &__item-text {
        font-size: 16px;
        line-height: 22px;
        color: $white;
    }
}

@media (min-width: 768px) {
    .services {
        &__title {
            padding-bottom: 0;
        }

        &__box {
            margin: 0 -20px;
        }

        &__item-box {
            width: 50%;
            padding: 0 20px;
            margin-top: 40px;

            &:not(:last-child) {
                margin-bottom: 0;
            }
        }

        &__item {
            flex-direction: column;
            align-items: flex-start;        
        }

        &__item-title {
            max-width: 280px;
        }

        &__item-text {
            max-width: 325px;
        }
    }
}

@media (min-width: 901px) {
    .services {
        &__item-title {
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            max-width: 400px;
        }

        &__item-text {
            font-size: 18px;
            line-height: 26px;
            max-width: 413px;
        }
    }
}

@media (min-width: 992px) {
    .services {
        &__title {
            margin-bottom: 10px;
        }

        &__box {
            padding-bottom: 10px;
        }

        &__item-box {
            width: 33.333%;
            margin-top: 60px;
        }

        &__item-info {
            flex-direction: column;
            margin-bottom: 15px;
        }

        &__item-icon {
            margin-bottom: 20px;
        }

        &__item-title {
            padding-left: 0;
        }
    }
}