.shadow {
    &__middle {
        height: 10px;
        background-color: $gradient-shadow-middle;
        border-radius: 0 0 12px 12px;
    }
    
    &__light-wrap {
        padding: 0 20px;
    }

    &__light {
        height: 10px;
        background-color: $gradient-shadow-light;
        border-radius: 0 0 12px 12px;
    }
}
