.slider-btn-list {
    list-style: none;
    padding-left: 0;
    display: flex;

    &__btn {
        width: 16px;
        height: 16px;
        border: none;
        border-radius: 50%;
        background-color: $blue-pg-simple;

        &:hover {
            background-color: $blue-pg-hover;
        }

        &--current {
            background-color: $blue-link;
        }
    }

    &__item:not(:last-child) {
        margin-right: 14px;
    }
}