$white: #ffffff;
$purple: #323264;
$purple-medium: #46466e;
$purple-light: #686887;
$red: #F0145A;
$blue-link: #24a3ff;
$blue-link-hover: #0085ff;
$blue-link-active: #006ccf;
$gray-bg: #f5f5fa;
$gray-bg-alt: #ededf7;
$gray-text: #b3b3ba;
$gray-medium: #e6e6f0;
$gradient: linear-gradient(128deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$gradient-soft: linear-gradient(42deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
$gradient-red: linear-gradient(121deg, #F0145A 30.65%, #693264 107.33%);
$gradient-supersoft: linear-gradient(228deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);